spring:
  application:
    name: user-service
  h2:
    console:
      enabled: true
      settings:
        web-allow-others: true
      path: /h2-console
  jpa:
    hibernate:
      ddl-auto: update
  datasource:
    driver-class-name: org.mariadb.jdbc.Driver
    url:  jdbc:mariadb://address=(protocol=${DATASOURCE_PROTOCOL})(host=${DATASOURCE_HOST})(port=${DATASOURCE_PORT})/${DATABASE}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
server:
  port: 0
eureka:
  instance:
    instance-id: ${spring.application.name}:${spring.application.instance_id:${random.value}}
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: ${EUREKA.SERVICE.URL}
google:
  userInfo_uri: ${GOOGLE_USERINFO_URI}
logging:
  level:
    com.example.userservice: DEBUG

jwt:
  secret:
    key: ${JWT.SECRET.KEY}
